* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, serif;
}

body {
    background: #E5E5E5;
}

.cont-top-left, .cont-top-right {
    height: 68px;
}

.cont-top-left ul, .cont-top-right ul {
    height: 100%;
}

.cont-top-left ul li, .cont-top-right ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
    color: #c8c8c8;
}

.cont-top-right ul li {
    color: black;
    opacity: 0.3;
}

.cont-top-left ul li:hover {
    cursor: pointer;
    color: #00D74A;
    border-top: 5px solid #00D74A;
    opacity: 1;
}

.cont-top-right ul li:hover {
    cursor: pointer;
    color: #000000;
    opacity: 1;
}

.cont-top-left ul li img, .cont-top-right ul li img {
    margin-right: 10.25px;
}

.cont-top-second {
    height: 72px;
}

.cont-top-second .row {
    height: 100%;
}

.cont-top-second-img, .cont-top-second-ul ul {
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cont-top-second-ul ul li {
    transition: 0.3s;
}

.cont-top-second-ul ul li:hover {
    cursor: pointer;
    color: #00D74A;
}

.content {
    background: #475463;
    height: 488px;
}

.content .container {
    height: 100%;
    position: relative;
}

.some-text {
    padding-top: 88px;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.content .container h3 {
    margin-top: 42px;
    margin-bottom: 72px;
    color: #00D74A;
    font-weight: 800;
    font-size: 32px;
    line-height: 20px;
}

.form-1 button {
    width: 158px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #00D74A;
}

.form-1 button:active {
    background-color: #30c451;
}

label {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

#checkbox {
    width: 15px;
}

.content .container h3 font {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.content .container a {
    background-color: #00D74A;
    text-decoration: none;
    color: #f7f7f7;
    padding: 21px 42px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border-radius: 10px;
}

.content .container .liner-img {
    position: absolute;
    right: 15px;
    top: 0;
}

.content .container .person {
    position: absolute;
    right: 75px;
    bottom: 0;
}

.content .container .scrol {
    position: absolute;
    right: 0;
    top: 180px;
}

.maxsus-xizmat a {
    margin-top: 160px;
}

.maxsus-xizmat > h1 {
    margin-top: 142px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #000000;
}

.mycard {
    transition: 0.5s;
    box-shadow: 0 2px 2px rgba(198, 198, 198, 0.25);
    border-radius: 10px;
}

.mycard:hover {
    box-shadow: 0 30px 30px rgba(119, 119, 119, 0.14);
}

.card {
    /*height: 280px;*/
    width: 591px;
}

.inpute img {
    width: 15px;
}

.inpute h3 {
    margin-bottom: 65px;
}

.inpute h5 {
    display: inline;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: black;
}

.tolov {
    padding-bottom: 16px;

}

.tolov:hover {
    border-bottom: #00D74A solid 2px;
}

.tolov:hover h5 {
    color: #00D74A;
}

.boxes .first-row {
    margin-bottom: 14px;
}

.boxes .box {
    border-radius: 15px;
    height: 211px;
    width: 100%;
    transition: 0.5s;

}

.boxes .box:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
}

.box-img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: rgba(0, 215, 74, 0.12);
}

.box-img > img {
    width: 25px;
}

.card button {
    border-radius: 10px;
    outline: none;

}

.box h5 {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.form-1 {
    margin-top: 59px;
}

.form-1 input {
    border: none;
    border-bottom: black solid 2px;
    outline: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 100%;
    height: 37px;
}

.chart {
    top: 30px;
    left: 35px;
}

.btn-dark {
    background-color: black;
}

.btn-success {
    border: none;
    background-color: #00D74A;
}

.btn-light {
    border: 1px solid black;
}

.footer-up {
    margin-top: 150px;

}

.footer ul li img {
    width: 15px;
}

.footer ul li:hover {
    color: #00D74A;
    transition: 0.4s;
}

.google-app {
    right: 0;
    bottom: 18px;
}

.google-app h5 {
    font-size: 22.5px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.posi a {
    text-decoration: none;
    border: solid black 3px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 127px;
    height: 40px;
}

.footer ul li h4 {
    font-size: 20px;
}

.search-icon {
    display: none;
}

.footer ul li {
    margin-top: 25px;
    line-height: 24px;
}


.footcontet1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.mycardhover:hover .footcontet1 {
    transition: 0.3s linear;
    color: #00D74A;
}

.koproq-korish {
    display: none;
}

.toshkent a, .barchasi a {
    text-decoration: none;
}

.footcontet2 {
    font-size: 18px;
    line-height: 40px;
}

.icons {
    display: none;
}

.fafa {
    border: none;
    background-color: transparent;
}

.navbar {
    display: none;

}

@media (max-width: 576px) {
    .navbar {
        display: flex;
        outline: none;
    }

    .onlydesk {
        display: none;
    }

    .koproq-korish {
        display: block;
    }

    .koproq-korish button {
        padding: 15px 50px;
        background: #00D74A;
        box-shadow: 0 2px 2px rgba(14, 221, 85, 0.52);
        border-radius: 10px;
        margin: 20px auto 0;
        display: block;
        text-align: center;
        border: none;
        color: #f7f7f7;
        outline: none;
    }

    .google-app {
        top: 0;
        left: 55px;
        right: 60px;
    }

    .navigations {
        padding-top: 110px;
    }

    #card {
        height: 723px;
        overflow: hidden;
    }

    #boxes {
        height: 235px;
        overflow: hidden;
    }

    .text {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;
    }

    .footcontet1 {
        font-weight: 600;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: -0.02em;
    }

    .footcontet2 {
        font-size: 18px;
        line-height: 40px;
    }

    .first-row {
        margin-top: 16px;
    }

    .yangilik {
        margin-top: 34px;
    }

    .barchasi {
        display: none;
    }

    .maxsus-xizmat a {
        margin-top: 143px;
    }

    .box-3 {
        margin-top: 16px;
    }

    .some-text {
        padding: 56px 52px 0;
        font-size: 38px;
        line-height: 50px;
        letter-spacing: -0.01em;
        text-align: center;
    }

    .gamer, .uydaqol {
        margin-top: 24px;
    }

    .mycard h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
    }

    .mycard .btn-dark {
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
    }

    .top-a {
        margin: 43px 55px 0 55px;
        display: block;
        text-align: center;
    }

    .scrol {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .content {
        height: 422px;
    }

    .icons {
        display: block;
    }

    .cont-top-second {
        height: unset;
    }

    .maxsus-xizmat h1 {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;
    }

    .footer-up {
        margin-top: 50px;
    }

    .maxsus-xizmat h1 {
        margin-top: 90px;
    }

    .search-icon {
        top: 25px;
        right: 70px;
        display: inline;
    }

    #navCollapse {
        z-index: 3;

    }

    #navCollapse ul li {

    }

    #navCollapse ul li a {
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        background: #00D74A;
        color: white;
        transition: 0.5s;
    }

    #navCollapse ul li a:hover {
        background: #6c757d;
        color: #00D74A;
    }

    .nav-btn {
        outline: none;
    }
}
